# IDE Cache
.vscode/
.cursor/
.cursorignore

# Environ
.venv/
.env.*
!.env.example
.env.local

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz

# Jupyter
.ipynb_checkpoints/

# OS-generated
.DS_Store

# Outputs
outputs/